<div>
  <a nz-button  nzType="default" nzPrimary routerLink="/admin/product/new">Thêm mới</a>
</div>
<div>
  <h1>Danh sách sản phẩm</h1>
</div>
<div>
  <nz-table #basicTable [nzData]="ListProducts">
    <thead>
      <tr>
        <th>Tên</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Ảnh</th>
        <th>Số lượng</th>
        <th>Tình trạng</th>
        <th>Chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of basicTable.data">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.desc }}</td>
        <td>
          <img src="{{ product.img }}" width="50"/>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
        <td>{{ product.quantity }}</td>
        <td *ngIf="product.status === 'true' ">Còn hàng</td>
        <td *ngIf="product.status === 'false' ">Hết hàng</td>
        <td>
          <a nz-button  nzType="default" nzPrimary routerLink="/admin/product/{{product.id}}">Sửa</a>
          <button nz-button nzType="primary" nzDanger (click)="onHandlerRemove(product.id!)">Xóa</button>
        </td>
      </tr>
    </tbody>
</nz-table>
</div>