<nz-layout>
    <nz-header>
        <div class="nav">
            <div class="logo">
                <img
                nz-image
                width="70px"
                nzSrc="https://pngimg.com/uploads/github/github_PNG57.png"
                alt=""
                />
            </div>
            <div>
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Tin tức</a></li>
                </ul>
            </div>
            <div class="search">
                Tìm kiếm
            </div>
        </div>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Footer</nz-footer>
</nz-layout>

